* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-size: 12px;
    background-color: #FDFBFE;
}

body a {
    color: #6b5f5c;
    text-decoration: none
}

body a:hover {
    text-decoration: none;
    color: #F10180;
}

body a:active {
    color: #F10180;
    text-decoration: none;
}

.bar {
    margin: 50px 0 0 10%;
    width: 80%;
}

.bar div {
    float: left;
}

.bar div:nth-child(2) {
    position: relative;
    top: 10px;
}

.bar div:nth-child(3) {
    position: relative;
    left: 20%;
}

.login-content {
    width: 80%;
    position: relative;
    left: 10%;
}

.login-content div {
    width: 49%;
    float: left;
}

.login-form {
    position: relative;
    top: 80px;
    left: 30px;
}

.login-form div, .register-form div {
    width: 100%;
    float: left;
    margin-bottom: 25px;
}

.login-form div input, .register-form div input {
    border: 1px solid #ccc;
    width: 250px;
    height: 35px;
    border-radius: 3px;
    text-indent: 1em;
}

.login-btn, .register-btn, .message-btn {
    height: 35px;
    width: 120px;
    text-align: center;
    background: #F10180;
    color: #fff;
}

.login-checked div {
    float: left;
    width: 50%;
    height: 30px;
    line-height: 30px;
}

.login-checked div:nth-child(1) input {
    line-height: 30;
    width: 18px;
    height: 18px;
}

.remember_password {
    position: relative;
    top: -2px;
    left: -45px;
}

.login-checked div:nth-child(2) a:nth-child(2) {
    color: #F10180;
}

.footer {
    width: 500px;
    margin: 100px auto 0;
}

.register-form {
    margin-top: 100px;
}

.register-form .message input {
    width: 120px
}

#phone-tip {
    color: #F10180;
    /*display: none;*/
}


